
@{
    ViewBag.Title = "Index";
}

<div style="margin:35px 150px">
   
    <a style="float:right" class="btn btn-default" href="@Url.Action("Nuevo","Producto")">Nuevo Producto</a>
    <h2>Listado de los Productos</h2>
</div>

